@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

* {
  letter-spacing: -0.02em;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}